/* Rosa clarito de fondo #f3d9db


*/

div.secciones{
    border-radius: 5px;
}
html{
        font-size: 20px;
        font-family: 'Solway', serif;
}
body{
    align-items: center;
    align-content: center;
    /*background-color: #f0e8e8 !important;*/
    background-color:#000000 !important ;
    margin-top: 0;

}
.todo{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 80%;
    align-items: center;
    align-content: center;
    overflow: hidden;
    
}
nav{
    width: 100%;
    font-family: 'Solway', serif;
    color: yellow;
    /*justify-items: flex-end;*/
    height: 5em;
    background-color: rgba(26, 25, 25);
    border-bottom: 8px  solid;
    border-color:#ff4b5c ;
    position: sticky;
    top:0;
    z-index:950;
    
}
div.container{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
button.menug{
    color:white; /*color de letra de menu*/
    font-size: 1.5em;
}
a.dropdown-item{
    color:white;
    font-size: 1.3em;
}
button.btn-default{
    font-size: 1.5em;
}
ul.menuprincipal{
    max-height: 300px;

    background-color: rgba(0, 0, 0, 0.400);
}
ul.menusecundario{
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.400);
}

div.row{
    background-color: rgba(26, 25, 25);
    margin-left: 0;
    margin-right: 0;
}
/*padding para anchor*/
h2.sect{ 
    padding-top: 10%;
    margin-top: -10%;

}

.contact {
    display: inline;
    align-content: space-around;
    top:0;

}

.tituloGeneral{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 12em;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(45deg,#e0ece4,#66bfbf);
    box-shadow: inset 0 0 0.3vw 0.3vw #f3d9db;
}
.tituloGeneral h1{
    font-size: 3em;
}
/*titulo*/
.nombre {
    padding:1em;
    align-items: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    /*font-family: 'Bungee Inline', cursive;*/
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 2em;
    font-weight: 900;
    line-height: 1;
    animation-play-state: paused;
    z-index: 900;

}
.nombre:hover{
    animation-play-state: running;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

/* Ya no es el titulo*/
.secciones{
    font-family: 'Solway', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: content-box;
    padding: 0;
    max-width: 100%;
    height: 6em;
    /* max-height: 50%; */
    margin: auto;
    vertical-align: text-top;
    align-items:center;
    align-content: center;
    place-items: center;
    position: relative;
    background-color: #ff4b5c;
    background-image: linear-gradient(45deg,#e0ece4, #ff4b5c);
    box-shadow: inset 0 0 0.3vw 0.3vw #f3d9db;
}

p.losep{
    text-align: center;
    color:White;
    font-size: 1.2rem;
    margin: 7%;
}
.secciones2{
    font-family: 'Solway', serif;
    text-align: center;
    vertical-align: middle;
    align-items:center;
    align-content: center;
    place-items: center;
}
div.skills1{
    /*background-color:#0565747a;*/
    margin: 0;
    background: rgb(224,236,228);
    background: radial-gradient(circle, rgba(224,236,228,1) 0%, rgba(102,191,191,1) 100%);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 
        inset 0px 0px 8px -10px #f3d9db,
        inset 0px -0px 8px -10px #f3d9db;
}

div.skills2{
    /*background-color:#66bfbf81;*/
    margin: 0;
    background: rgb(224,236,228);
    background: radial-gradient(circle, rgba(224,236,228,1) 0%, rgba(13, 150, 172, 0.715) 100%);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 
        inset 0px 0px 8px -10px #f3d9db,
        inset 0px -0px 8px -10px #f3d9db;
}


div.row2{
    align-items: center;
    height:auto;
    background-color: white;
}
div.txt{
    background: rgb(224,236,228);
    background: radial-gradient(circle, rgba(224,236,228,1) 0%, rgba(13, 150, 172, 0.715) 100%);
    width: 100%;
    text-align: center;
    margin:0;
    height: 200px;
    vertical-align: middle;
    align-items:center;
    align-content: center;
    place-items: center;
    padding-top: 6%;
    padding-bottom: 8%;
    box-shadow: 
        inset 0px 0px 8px -10px white,
        inset 0px -0px 8px -10px white;

}
div.losetxtcenter{
    font-size: 1.2em;
    height: 100;
    padding-top: 35px;
}
div.imagecol{
    text-align: center;
    margin:0 0 0 0 !important;
    align-items: center;
    place-items: center;
    align-content: center;
    background-color: white;
    box-sizing: unset;
    width:100%;
    max-width: 200px;

}
img{
    max-width: 80%;
    height: auto;
    align-items: center;
    place-items: center;
    align-content: center;
}

ul{
    padding-inline-start: 30px;
    text-align: center;
    text-justify: inter-word;
    justify-items: stretch;
    justify-content: space-around;
    margin: auto;
}

.menuprincipal li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-30px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 


/*Not tested*/
@media (min-width:360px) {
    html{
        font-size: 13px;
        font-family: 'Solway', serif;
        
    }
    .tituloGeneral h1{
        font-size: 2em;
    }
    body{
        margin:0;
    }
    svg.grandes{
        width:0.5em;
        height:0.5em;
    }
    svg.chicos{
        width: 0.2em;
        height:0.2em;
    }
    div.secciones2 ul li{
        font-size: 1em;
    }
    
    .col-sm.skills2,.col-sm.skills1 {
        margin-left: 10%;
        margin-right: 10%;
        width: 85%;

    }
    div.imgcol{
        max-width: 140px;
    }
}
@media (min-width:576px) {

    html{
        font-size: 15px;
        font-family: 'Solway', serif;
        
    }
    .tituloGeneral h1{
        font-size: 3em;
    }
    
    body{
        margin-top: 0;
    }
    
    svg.grandes{
        width:0.7em;
        height:0.7em;
    }
    svg.chicos{
        width: 0.3em;
        height:0.3em;
    }

    div.secciones2 ul li{
        font-size: 1.2em;
    }
    .col-sm.skills2,.col-sm.skills1 {
        margin:0;
        width: 100%;

    }
    


}

@media (min-width:768px) {

    html{
        font-size: 16px;
        font-family: 'Solway', serif;
        
    }
    .tituloGeneral h1{
        font-size: 3em;
    }
    
    body{
        margin-top: 0;
        /*
        margin-left: 5% !important;
        margin-right: 5% !important ;
        */
    }

    svg.grandes{
        width:0.9em;
        height:0.9em;
    }
    svg.chicos{
        width: 0.5em;
        height:0.5em;
    }

    div.secciones2 ul li{
        font-size: 1.2em;
    }
    

}

@media (min-width:992px) {

    html{
        font-size: 18px;
        font-family: 'Solway', serif;
        
    }
    .tituloGeneral h1{
        font-size: 3em;
    }
    div.todo{
        align-items: center;
        margin: 0 auto;
        width: 80%;
        max-width: 1000px;
        justify-content: center;
        padding: 0;
    }
    
    body{
        margin-top: 0;
        /*
        margin-left: 5% !important;
        margin-right: 5% !important ;
        */
    }

    svg.grandes{
        width:0.9em;
        height:0.9em;
    }
    svg.chicos{
        width: 0.5em;
        height:0.5em;
    }

    div.secciones2 ul li{
        font-size: 1.2em;
    }

}



